name: Docker Build

on:
  push:
    branches: ["main"]
  pull_request:
    branches: ["**"]

jobs:
  docker-build:
    name: Build container
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Build image
        run: docker build .
